@{ 
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Professor @ViewData["Professor"]</p>
<address>
    <strong>More information: <a href="http://edicandoweb.com.br">Educandoweb.com.br</a></strong>
</address>            